@charset "UTF-8";
/*Paleta de cores:
Marrom:#944811
Verde:#43893F
Verde Escuro:#002400
Branco:#F3E2E2
Rosa:#a70e55
#f5f0f0;
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #002400;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color:#f5f0f0;
    width: 270px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #011801;
    transition: 0.2s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);

}
section#login > div#imagem{
    display: block;
    background-color: #002400;
    background-image: url(./imagem.tulipas-jpg.jpg);
    height: 200px;
    background-position: left;
}
section#login > div#formulario{
    color: #033503;
    display: block;
    padding: 5px;
}
div#formulario > h1{
    text-align: center;
    font-size: 30px;
    padding-top: 8px;
}
div#formulario > p{
    font-size: 13px;
    padding: 10px;
}

form > input[type=submit]{
    display: block;
    border: 5px;
    margin: 5px;
    margin-top: 10px;
    padding: 5%;
    width: 95%;
    height: 40px;

    font-size: 1em;
    background-color:#a70e55;
    color: #f5f0f0;
    border-radius: 5px;
    box-shadow: 2px 3px 8px #57072c71
}
form > input[type=submit]:hover{
    background-color: #57072c;
    cursor: pointer;
}

form > a.botao{
    display: block;
    border: 1px solid #a70e55;
    margin: 5px;
    padding: 5%;
    padding-top: 10px;
    width: 95%;
    height: 40px;

    font-size: 1em;
    text-align: center;
    text-decoration: none;
    background-color:#f5f0f0;
    color: #a70e55;
    border-radius: 5px;
    box-shadow: 2px 3px 5px #57072c71
}
form > a.botao:hover{
    background-color: #57072c;
    color: #f5f0f0;
    cursor: pointer;
}
form > div.campo{
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: #033503e1;
    display: block;
    width: 95%;
    height: 40px; 
    border-radius: 5px;
    box-shadow: 2px 3px 8px #01180167;
}
div.campo > label{
    display: none;
}

form > div > span{
    color: #eaec61;
    padding: 5px;
}
div.campo > input{
    color: #f5f0f0;
    background-color: #eaec61;
    border: 0px #eaec61;
    padding: 5px;
    padding-left: 8px;
    width: calc(100% - 38.5px);
    height: 40px;
    font-size: 1em;
    border-radius: 5px;
    transform: translateY(-4px);
}
div.campo > input:focus-within{
    background-color: #f5f0f0;
}
