@charset "UTF-8";

@media screen and (min-width: 768px)
/*tablet*/
{
    section#login{
        width: 85vw;
        height: 55vh;
        display: flex;
    }
    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 60%;
        height: 100%;
    }
    div#formulario > p{
        font-size: 15px;
        padding: 10px;
    }
    form > input[type=submit]{
    padding-top: 12px;
    width: 70%;
    }
    form > a.botao{
    width: 70%;
    }

}
@media screen and (min-width: 992px) /*dispositivos grandes e desktop*/{
    section#login{
        width: 70vw;
    }
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario {
        float: left;
        width: 50%;
        height: 100%;
    }
    div#formulario > p {
    font-size: 15px;
    padding: 10px;
}
form > input[type=submit]{
    padding-top: 12px;
    width: 70%;
}
form > a.botao{
    width: 70%;
}

}