@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) /*tablet*/
{
    body {
        background-image: linear-gradient(180deg, #044404,#6e114a);
    }
    section#login{
        width: 85vw;
        height: 60vh;
    }
    section#login > div#imagem {
        float: left;
        width: 35%;
        height: 100%;
    }
    section#login > div#formulário {
        float: right;
        width: 65%;
        height: 100%;
    }
    section#login > div#formulário > p {
        padding-left: 10px;
    }
}
@media screen and (min-width: 992px) /*dispositivos grandes e desktop*/{
       body {
        background-image: linear-gradient(180deg, #044404,#6e114a);
    }
    section#login{
        width: 70vw;
    }
    section#login > div#imagem{
        float: left;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulário > p {
        text-align: center

    }
}